<%- contentFor('title') %>Daniel Guardado
<%- contentFor('body') %>

<!--Jumbotron-->
<div class="jumbotron p-4 p-md-5 text-white rounded bg-light">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
  
  <div> My name <%= name %> </div>

  <form method="Post" action="/blog2">
  
  <label for="name">Name (4 to 8 characters):</label>
  <input type="text" id="name" name="name" requiredminlenght="4" maxlength="8" size="10">
  <label for="lastname">Last Name:</label>
  <input type="text" id="lastname" name="lastname">
  <button type="submit">Submitt</button>
  </form>  

<button id="dan"></button>


